*{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #fffcf9;
    --color-secundario: #3772ff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.3em;
    color: var(--color-primario);
    cursor: pointer;
}

.logo span{
    color: var(--color-secundario);
}

.navegacion a{
    font-size: 1.2em;
    color: var(--color-primario);
    text-decoration: none;
    margin-right: 48px;
    font-weight: 600;
    transition: .3s;
}

.navegacion a:hover{
    color: var(--color-secundario);
}

.btn-hablar{
    color: #ffff;
    text-decoration: none;
    padding: 8px 35px;
    background-color: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;
    transition: .3s;
}

.btn-hablar:hover{
    color: var(--color-secundario);
    background: transparent;
}

.inicio{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("img/Home.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.contenido{
    max-width: 600px;
    color: var(--color-primario)
}

.contenido h2{
    font-size: 3em;
}

.contenido h2 span{
    color: var(--color-secundario);
}

.contenido h4{
    font-size: 1.5em;
}

.contenido p{
    padding: 10px 0 40px 0;
}

.btn-grupo a{
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;
    transition: .3s;
}

.btn-grupo a:hover:nth-child(1){
    background-color: transparent;
    color: var(--color-secundario)
}

.btn-grupo a:nth-child(2){
    color: var(--color-secundario);
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.btn-grupo a:hover:nth-child(2){
    background-color: var(--color-secundario);
    color: #fff;
}

.iconos-redes{
    position: absolute;
    bottom: 50px;
}

.iconos-redes a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: var(--color-secundario);
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid var(--color-secundario);
    transition: .3s;
}

.iconos-redes a:hover{
    transform: translateY(-5px);
}

.iconos-redes a i{
    color: #fff;
}

.sobreMi{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("img/sobreMi.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 60px 100px;
}

.contenidoSobreMi{
    max-width: 700px;
    color: var(--color-primario);
    padding: 50px 0 0px 0;
}

.contenidoSobreMi h2{
    font-size: 2.5em;
    text-align: center;
    padding: 40px 0 40px 0;
}

.contenidoSobreMi h4{
    font-size: 1.5em;
    text-align: center;
    color: var(--color-secundario);
    padding: 10px 0 10px 0;
}

.contenidoSobreMi p{
    padding: 10px 0 30px 0;
    text-align: center;
}